<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC52_MWpr4hRwXY8bZMI27u9WIGWgVXZv4</string>
	<key>GCM_SENDER_ID</key>
	<string>912162193009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.midterm</string>
	<key>PROJECT_ID</key>
	<string>midterm-c6e80</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-c6e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912162193009:ios:c0a8567ef877c39a8665d0</string>
</dict>
</plist>